table > tr > td{
    padding: 10px;
}


.document {
    background: rgba(173, 173, 173, .7);
}

.resource {
    background: rgba(173, 173, 173, .3);
}
.table_font {
    font-weight: normal;
    font-size: 1.2em
}

table {
    width: 100%;
}

th {
    font-size: 1.2em;
}

.full {
    display: flex;
    height: 100%;
    width: 100%;
}

.article {
    margin-left: 15px;
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

