header {
    padding: 10px;
    margin-bottom: 15px;
}

.text > h1 {
    text-align: center;
}

.add_document {
    margin: 14px 0;
}

.menu h3 {
    font-weight: normal;
}

.search {
    display: flex;
    align-items: center;
}

input[type='submit'] {
    display: none;
}

.content a {
    margin: 0 10px;
}

.card h2 {
    font-weight: normal;
}