<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <description>Сервис для роботы с учетной записью и связанными с ней сущностями (данные профиля, внешние идентификаторы, сертификаты и пр.)</description>
    <resource-env-ref>
        <description>Имя бд приложения knowledgebase</description>
        <env-entry-name>apps.knowledgebase.db</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
    </resource-env-ref>
    <resource-env-ref>
        <description>пользователь к бд приложения knowledgebase</description>
        <env-entry-name>apps.knowledgebase.db_USER</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
    </resource-env-ref>
    <resource-env-ref>
        <description>пароль к бд приложения knowledgebase</description>
        <env-entry-name>apps.knowledgebase.db_PASSWORD</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
    </resource-env-ref>
    <resource-env-ref>
        <description>Путь до файлов knowledgebase</description>
        <env-entry-name>apps.knowledgebase.filespath</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
    </resource-env-ref>
</web-app>